
.navbar{
display: flex;
justify-content: space-between;
align-items: center;
 background-color: #1E40AF; 
padding: 0 40px;
 color: aqua; 
 
}
.logo {
  display: flex;
  align-items: center;
}

.navbar .logo img{
   width: 55px;
   height: 55px;
   object-fit: cover;
   border-radius: 50px;
   margin-right: 12px;
}

.college-text h2 {
  margin: 0;
  font-size: 18px;
  color: #ffffff;
}
.college-text p {
  margin: 0;
  font-size: 12px;
  color: #dddddd;
}
.navbar .link{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.navbar .link li a {
    color: aqua;
    text-decoration: none;
    font-family: sans-serif;
}
.navbar .link li a:hover{
    color:white;
    transition: 0.3s;
    
}