.navbar {
  width: 100%;
  background-color:#450000; 
  padding: 12px 0;
}

.navbar .link{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.navbar .link li a {
  color: white;
  text-decoration: none;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  padding: 6px 10px;
  transition: all 0.3s ease;
}
.navbar .link li a:hover{
   background-color: white;
  color: #450000;          
  border-radius: 4px;
  text-decoration: none;
}
