.academic-page{
    padding: 60px 100px;
    min-height: 80vh;
    background-color: #f0f2f5;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.academic-heading{
    text-align: center;
    margin: 40px 0;
}
.academic-container{
    display: flex;
    justify-content: center;
}
.academic-heading h1{ 
  display: inline-block; 
  font-size: 42px;
  margin-bottom: 50px;
  padding: 12px 30px;
  font-weight: 700;
  color: #450000;
  background-color: rgba(128, 0, 0, 0.08);
  border-radius: 6px;
}
.academic-menu{
  width: 25%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.academic-menu button {
    min-width: 200px;
  padding: 14px 20px;
  margin-bottom: 20px;
  border: none;
  background-color: #212529;
  color:#fff;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;  
}
.academic-menu button:hover {
  background-color: #450000;
}
.academic-menu button.active {
  background-color: #450000;
  color: #fff;
  font-weight: 600;
}
.academic-content {
  width: 50%;
  background-color: #fafafa;
  padding: 25px 30px;
  font-size: 18px;
  line-height: 1.8;
  color: #333;
  border-radius: 6px;
}
.academic-content table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.academic-content th,
.academic-content td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.section-heading {
  font-size: 34px;
  color: #450000;
  margin: 20px 0 5px 0;
}
.section-line {
  border: none;
  height: 2px;
  background-color: #4f4f4f;
}

.heading{
    font-size: 34px;
  color: #450000;
  margin: 20px 0 5px 0;
  text-align: center;
}

.subheading{
text-align: center;
margin-top: 10px;
}
.syllabus-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;  
}
.h{
   margin-top: 20px;
}

.title{
    text-align: justify;
    font-size: medium;
}
#t{
    margin-top: 20px;
}
#t2{
    margin-top: 10px;
}
.start-bold {
  font-weight: 500;   
}
