.course-info-page {
  padding: 60px 100px;
  min-height: 80vh;
  background-color: #f4f6f9;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.course-info-page h1 {
  color: #450000;
  margin-bottom: 20px;
}

.course-info-page p {
  font-size: 18px;
  line-height: 1.8;
  color: #333;
}
.apply-btn {
  margin-top: 30px;
  padding: 14px 30px;
  background-color: #450000;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.apply-btn:hover {
  background-color: #5e0000;
  transform: translateY(-2px);
}
