.home-container{
width: 100%;
height: 100vh;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
position: relative;
justify-content: center;
align-items: center;
}

.home-text{
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px 40px;
    border-radius: 10px;
}
.home-text h1{
    /* font-size: 3rem; */
    margin-bottom: 10px;
}

.home-text p {
  font-size: 1.2rem;
}

.home-btn {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color:  #ff9900;
  color: white;
  cursor: pointer;
}

.home-btn:hover {
  background-color: #cc7a00;
}
